<ng-container *ngIf="isDesktopView">
  <div class="cover">
    <ng-container *ngIf="!submittedEmail">
      <div class="subscribe">
        <div class="subForm">
          <div class="heading"><span>Stay updated!</span></div>
          <span class="spanspacing"
            >Join 60,000+ product managers receiving monthly update on:</span
          >

          <div class="listing">
            <div>
              <img src="../assets/icon-success.svg" alt="check icon" />
              <span>Product discovery and building what matters</span>
            </div>

            <div>
              <img src="../assets/icon-success.svg" alt="check icon" />
              <span>Measuring to ensure updates are a success</span>
            </div>

            <div>
              <img src="../assets/icon-success.svg" alt="check icon" />
              <span>And much more!</span>
            </div>
          </div>
          <div class="emailsub">
            <span>Email address</span>
            <span class="errorMsg" *ngIf="!emailValid"
              >Valid email required</span
            >
            <br />
            <input
              type="text"
              [ngClass]="{ inputError: !emailValid }"
              placeholder="email@company.com"
              [(ngModel)]="email"
            />
            <button type="submit" (click)="submitEmail()">
              Subscribe to monthly newsletter
            </button>
          </div>
        </div>
        <div class="score"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="submittedEmail">
      <div class="submitted">
        <div><img src="../assets/icon-list.svg" alt="check icon" /></div>
        <div class="heading heading-height">Thanks for subscribing!</div>
        <span
          >A confirmation email has been sent to
          <span class="submitted-email">{{ email }}</span
          >. Please open it and click the button inside to confirm your
          subscription.
        </span>
        <div class="emailDismiss">
          <button (click)="dismissMessageClick()">Dismiss message</button>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="!isDesktopView">
  <ng-container *ngIf="!submittedEmail">
    <div class="mob">
      <!-- <div class="mob-score"></div> -->
      <img src="../assets/illustration-sign-up-mobile.svg" alt="" />
      <div class="mob-submit">
        <div class="mob-heading"><span>Stay updated!</span></div>
        <span class="spanspacing"
          >Join 60,000+ product managers receiving monthly update on:</span
        >
        <div class="mob-listing">
          <div>
            <img src="../assets/icon-success.svg" alt="check icon" />
            <span>Product discovery and building what matters</span>
          </div>

          <div>
            <img src="../assets/icon-success.svg" alt="check icon" />
            <span>Measuring to ensure updates are a success</span>
          </div>

          <div>
            <img src="../assets/icon-success.svg" alt="check icon" />
            <span>And much more!</span>
          </div>
        </div>
        <div class="mob-emailsub">
          <span>Email address</span>
          <span class="errorMsg" *ngIf="!emailValid">Valid email required</span>
          <br />
          <input
            type="text"
            [ngClass]="{ inputError: !emailValid }"
            placeholder="email@company.com"
            [(ngModel)]="email"
          />
          <button type="submit" (click)="submitEmail()">
            Subscribe to monthly newsletter
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="submittedEmail">
    <div class="mob-submitted-task">
      <div class="mob-submitted">
        <div>
          <img
            class="tick-img"
            src="../assets/icon-list.svg"
            alt="check icon"
          />
          <div class="mob-heading">Thanks for subscribing!</div>
          <span class="mob-text"
            >A confirmation email has been sent to
            <span class="submitted-email">{{ email }}</span
            >. Please open it and click the button inside to confirm your
            subscription.
          </span>
          <div class="emailDismiss mob-emailDismiss">
            <button (click)="dismissMessageClick()">Dismiss message</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
